<!DOCTYPE html>
<html lang="en">
<%= include('./head')%>
<body>
    <%= include('./header') %>
    <form method="POST" action="/profile/edit/<%=usuario.id%>?_method=PUT" >
        <section class="boxFormulario">
            <label class="labelFormulario" for="passwordRegister">Inserte la nueva Contraseña</label>
            <input class="formularioInput" type="password" name="passwordRegister" placeholder="<%=usuario.password%>">
        </section>
        <div>
            <input type="submit">
        </div>
    </form>
    <%= include('/footer')
</body>
</html>