<!DOCTYPE html>
<html lang="es">
<%-include('./head')%>
<body class="bodymain">
    <%-include('./header')%>
    <section class="contenedorUser">
        <article class="contenedorImagenPerfil">
            <div>Imagen de Perfil</div>
        </article>
        <article class="itemGeneral">
            <div class="itemuser">
                <div>Nombre de Usuario:</div><%=userData.username %>
            </div>
            <div class="itemuser">
                <div>Correo</div><%=userData.email %>
            </div>
            <div class="itemuser">
                <button>Cambiar contraseña</button>
            </div>
            <div>
                <button>Cerrar Session</button>
            </div>
        </article>
    </section>
    <%-include('./footer')%>
</body>
</html>